<button class="btn">Door 0</button>
<button class="btn">Door 1</button>
<button class="btn">Door 2</button>
<button class="btn">Door 3</button>
<button class="btn">Door 4</button>
<button class="btn">Door 5</button>


<script src="closure3.js"></script>